@tailwind base;
@tailwind components;
@tailwind utilities;




.hideScrollbar {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Hide scrollbar */
  }
  
  .hideScrollbar::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  
  .hideScrollbar::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the thumb */
  }



  
